
        .tagA{
        background-color: #ff7f00; 
        width: 500px;
        height: 500px;
        }

        .tagB{
            width: 250px; 
            height:50vh;
             background-color:rgb(173, 216, 230);
        }

        .tagC{
            background-color: #90ee90; 
            width: 250px;
             height: 250px;
        }

        .tagD{
            width: 75vw; 
            height: 125px; 
            background-color:rgb(255, 0, 0);
        }

        .p{
            color: white; 
            background-color: red; 
            font-size: 25px;
             font-family: monospace; 
             font-weight: 300; 
        }

             
    
    


